/*******************
GENERAL
********************/

header {
	width: 100%;
	position: fixed;
	text-align: center;
	height: 5%;
	z-index: 2;
	top: 0px;
}

header nav {
	list-style: none;
	margin-top: 5px;
}

header nav li {
	display: inline;

}

header nav li a {
	padding: 2.5em 1em;


}


.container  {
	margin: 0 auto;
	width: 600px;
	top: 65px;
	position: relative;
}


section .content {
	float: left;
	width: 64%;
	padding: 0px 10px;
	top:0;
	margin: 5px 5px;
	position: relative;
	max-height: 500px;
	overflow:scroll;
	}

.right-sidebar {
	float: left;
	width: 30%;

}


.right-sidebar aside {
	height: 44%;
	padding: 5px 10px;
	margin: 5px 10px 5px 10px;
	position: relative;

}

aside .photo {
	float: left;
}

.photo p {

	text-align: center;
}

.right-sidebar .photo img {
	height: 150px; 
	border-radius: 10px;
	margin: 0 auto;
	float: left;
	text-align: center;

}

.right-sidebar aside ul li {
	margin-left: 0;
	text-align: left;
	list-style: none;
}

.right-sidebar aside ul  {

	text-align: left;
	-webkit-padding-start: 5px;
}


footer  {
	position: fixed;
	margin: 0 auto;
	width: 100%;
	bottom: 0px;
	height: 5%;
	text-align: center;

}


/*******************
COLORS
********************/

html {
	background: url('/css/img/hot_air_balloon.JPG') no-repeat center fixed;
	background-size: cover;
}


.content {
	background: white;
	opacity: .8;
	border: 2px lightblue solid;
	border-radius: 10px;
	color: grey;
	background-attachment: scroll;
}

aside {
	background: white;
	opacity: .9;
	border: 2px lightpink solid;
	border-radius: 10px;
	color: grey;
}

a {
	color: red;
	opacity:.5;
}

a:hover {
	color:	crimson;
}


footer {
	color: grey;
}

nav a:hover {
	color: lightyellow;
	opacity: .9;
}

nav a {
	text-decoration: none;
	color: white;
}

.right-sidebar aside ul li a {
	color: blue;
}

/*******************
FONTS
********************/

h2 {
	font-size: 1.15em;
}
nav ul {
	
	list-style: none;
}





.right-sidebar aside {
	text-align: left;
}

html {
	font-family: sans-serif;
}


p {
	line-height: 1.5em;

}


header {
	
	background-color: rgba(200,0,0, .6);
	color: white;
	box-shadow: 0px 0px 8px 0px #000000;
		-webkit-box-shadow: 0px 0px 8px 0px #000000;
		-moz-box-shadow: 0px 0px 8px 0px #000000;

}

section .content {
	font-size: .95em;
	}

section .content li {
	font-size: .95em;
	line-height: 1.75em;

	}

.date {
	font-style: italic;
}

.right-sidebar aside {
	font-size: .85em;
}

.photo p {
	font-size: .95em;
	font-family: Georgina;

}

.right-sidebar aside ul  {

	list-style: none;
}
.right-sidebar aside ul li a {
	font-size: .85em;
	line-height: 1.25em;

}

footer {
	
	background: rgba(255,255,255,.8);
	
}





